@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@400;500&family=Playfair+Display:wght@600&display=swap');

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.vibes {
    font-family: 'Great Vibes', cursive; 
}

.playfair {
    font-family: 'Playfair Display', serif;
}

.home {
    background-image: url(./img/image\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.darkRed {
    color: #2B0504;
}

.red {
    color: #510200;
}

.cinza {
    color: #414141;
}

.rosa {
    background-color: #FAF1EA;
}

.borda-w {
    width: 320px;
}

.borda-h {
    height: 320px;
}

.topLeft {
    bottom: -60px;
    left: -60px;
}

.rosaClaro {
    border-color: #FAF1EA;
}

.h-90vh {
    height: 90vh;
}

.h-70vh {
    height: 70vh;
}

@keyframes floatImage{
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-1rem);
    }

    100%{
        transform: translateY(0);
    }
}

.flutuante {
    animation: floatImage 4s ease-in-out infinite;
}

#triangulo-para-direita {
    width: 0; 
    height: 0; 
    border-top: 315px solid transparent;
    border-bottom: 315px solid transparent;
    border-left: 900px solid #FAF1EA;
    display: inline-block;
    margin-right: 50px;
  }

  .cronogramaT {
    text-align: center;
    color: #510200;
    font-size: 4rem;
    font-family: 'Playfair Display', serif;
    margin-top: 5rem;
  }
  
  .cronograma {
    display: flex; 
    flex-direction: column; 
    width: 75%; 
    margin: auto;
    margin-top: 5rem;
  }
  
  .card-semana {
    width: 100%;
    display: flex;
  }
  
  .card-semana > div.card-item {
    padding-top: 10px;
    padding-bottom: 20px;
    width: 50%;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  
  .card-semana-esquerda {
    /* padding-right: 15px; */
    border-right: 2px solid #BEBEBE;
  }
  
  .card-semana-direita {
    /* padding-left: 15px; */
    border-left: 2px solid #BEBEBE;
  }
  
  .justify-right {
    justify-content: right;
  }
  
  .marginL--1 {
    margin-left: -2px;
  }
  
  .cronograma-ball {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FAF1EA;
    margin-right: 10px; 
    position: relative;
    bottom: -20px;
  }
  
  .ball-direita { 
    right: -21px;
  }
  
  .ball-esquerda {
    right: 11px;
  }

  .biblio {
    background-image: url(./img/biblio.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .h-104 {
    height: 40rem;
  }

  .w-104 {
    width: 34rem;
  }