<div id="materias" class="w-screen mt-32 flex justify-center align-center items-center">
    <div class="h-1/2 flex flex-col justify-between w-1/2">
        <h1 class="text-7xl darkRed playfair text-center mb-16">Projetos</h1>
        <div class="grid grid-cols-3 gap-3">
            <a href="/linguagens.html" target="_blank" class="mb-8 flex flex-col justify-center align-center h-56 w-60 rosa rounded-md montserrat font-medium text-3xl drop-shadow-xl transition hover:ease-out duration-300 hover:scale-110"> 
                <h1 class="text-center mb-4">Linguagens</h1> 
                <img class="h-12" src="../../public/icons/book 1.svg" alt=""> 
            </a>

            <a href="/humanas.html" target="_blank" class="flex flex-col justify-center align-center h-56 w-60 rosa rounded-md montserrat font-medium text-3xl drop-shadow-xl transition hover:ease-out duration-300 hover:scale-110"> 
                <h1 class="text-center mb-4">Humanas</h1> 
                <img class="h-12" src="../../public/icons/user 1.svg" alt=""> 
            </a>

            <a href="/natureza.html" target="_blank" class="flex flex-col justify-center align-center h-56 w-60 rosa rounded-md montserrat font-medium text-3xl drop-shadow-xl transition hover:ease-out duration-300 hover:scale-110"> 
                <h1 class="text-center mb-4">Natureza</h1> 
                <img class="h-12" src="../../public/icons/sun 1.svg" alt=""> 
            </a>

            <a href="/matematica.html" target="_blank" class="flex flex-col justify-center align-center h-56 w-60 rosa rounded-md montserrat font-medium text-3xl drop-shadow-xl transition hover:ease-out duration-300 hover:scale-110"> 
                <h1 class="text-center mb-4">Matemática</h1> 
                <img class="h-12" src="../../public/icons/divide 1.svg" alt=""> 
            </a>

            <a href="/tecnico.html" target="_blank" class="flex flex-col justify-center align-center h-56 w-60 rosa rounded-md montserrat font-medium text-3xl drop-shadow-xl transition hover:ease-out duration-300 hover:scale-110"> 
                <h1 class="text-center mb-4">Técnico</h1> 
                <img class="h-12" src="../../public/icons/book.svg" alt=""> 
            </a>

            <a href="/escolhidas.html" target="_blank" class="flex flex-col justify-center align-center h-56 w-60 rosa rounded-md montserrat font-medium text-3xl drop-shadow-xl transition hover:ease-out duration-300 hover:scale-110"> 
                <h1 class="text-center mb-4">Escolhidas</h1> 
                <img class="h-12" src="../../public/icons/heart 1.svg" alt=""> 
            </a>
        </div>
    </div>
</div>
