<nav class=" w-screen  my-4 top-0 absolute">
    <div class="flex justify-between m-auto w-1/2 mt-16 montserrat text-xl">
      <a href="./#sobre" class=" transition-colors duration-200 ease-in-out hover:text-[#8f0108] row-span-1">sobre</a>
      <a href="./#portfolios" class="transition-colors duration-200 ease-in-out hover:text-[#8f0108]">portfólios</a>
      <a href="./#habilidades" class="transition-colors duration-200 ease-in-out hover:text-[#8f0108]">habilidades</a>
      <a href="./index.html" class="transition-colors duration-200 ease-in-out hover:text-[#8f0108] vibes text-4xl">V</a>
      <a href="./#cronograma" class="transition-colors duration-200 ease-in-out hover:text-[#8f0108]">cronograma</a>
      <a href="./public/Currículo.pdf" target="_blank" class="transition-colors duration-200 ease-in-out hover:text-[#8f0108]">currículo</a>
      <a href="./#projetos" class="transition-colors duration-200 ease-in-out hover:text-[#8f0108]">projetos</a>
    </div>
</nav>